.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px clamp(50px, 15%, 300px) 30px clamp(50px, 15%, 300px);
  box-sizing: border-box;
}

.Page__title {
  color: $text-primary;
}

.Page__tiles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}